<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
  <connectionStrings>
    <add name="restaurante" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Restaurante;Integrated Security=True"/>
  </connectionStrings>

</configuration>
